<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
  <script th:inline="javascript" th:src="@{/js/board.js}"></script>
</head>
<div>
  <th:block layout:fragment="content">
    <!-- 글쓰기 폼 -->
    <div class="container-md shadow p-3 mb-5 mt-5 w-50 bg-body rounded">
      <form action="/board/save" method="post" onsubmit="return validateForm();">
      <div class="form-floating  mt-5">
          <input class="form-control" placeholder="Leave a title here" id="title" name="title">
          <label for="title">title</label>
        </div>
        <div class="form-floating mt-5">
          <textarea class="form-control" placeholder="Leave a comment here" id="content" name="content" style="height: 200px"></textarea>
          <label for="content">Comments</label>
        </div>
        <select class="form-select mt-5" aria-label="Default select example" name="categories">
          <option selected>Please select a category</option>
          <option value="infoBoard">information shared</option>
          <option value="frontBoard">front-end</option>
          <option value="backBoard">back-end</option>
        </select>
        <div class="center text-center mt-5">
          <input class="btn btn-warning" type="reset" value="reset" >
          <input class="btn btn-primary" type="submit" value="submit" >
        </div>
      </form>
    </div>
  </th:block>
</div>
</html>